@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.jumbotron {
    margin-top: 30px;
    background-color: #eeeeee;
}

body {
    background-image: url("https://cutewallpaper.org/21/professional-background-photos/Best-43-Professional-Dark-Background-on-HipWallpaper-Good-.jpg");
    font-family: 'Permanent Marker', cursive;
   }

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #ffd369;
}